<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressJS</title>
</head>
<body>
    <!--To access info using ejs, put percent symbol with equal sign. The equal sign is to output the code to the page-->
    Hello Hoomans <%= text %> <!--To output the text in server.js just put in the variable text. You can put whatever here, even 2+2 for example. You can use locals.text (locals object) to minimize error too-->
</body>
</html>